/* Global */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
:root {
  /* App Color */
  --color-primary: var(--color-mainblue);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-skyblue);
  --color-text: var(--color-white);
  --color-text-variant: var(--color-ivory);
  /* Colors */
  --color-white: #fff;
  --color-mainblue: #ff7b00;
  --color-blue: #2647b2;
  --color-skyblue: #3087e5;
  --color-gray: #535353;
  --color-ivory: #a3a3a3;

  /* Size */
  --size-min-width: 1450px;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  min-width: var(--size-min-width);
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
em,
img,
video,
strong,
ul,
li,
figure,
tr,
th,
td,
article,
div,
fieldset,
legend,
span,
a,
dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
input,
fieldset {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
  display: block;
}
dt,
dd {
  display: block;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}
/* common */
section {
  background: url(../images/drew-beamer-kUHfMW8awpE-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: min(100%, 1450px);
  margin: 0 auto;
}
.section {
  padding: 0 0 0 8rem;
  min-height: 700px !important;
}

.title {
  padding: 0 8rem;
}
.name {
  color: var(--color-primary-variant);
  font-size: 1.5rem;
  font-weight: 500;
}
/* #fullpage {
  min-width: var(--size-min-width);
} */
.full-screen {
  padding: 0;
}
.min-container {
  min-width: var(--size-min-width);
}
/* 
section 최소 높이 important로 지정
*/
#slide_wrap,
#product_wrap,
#media_wrap,
#invest_wrap,
#location_wrap {
}
